<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin - Tasks</title>
</head>
<body>
  <h1>Admin - Tasks</h1>
  <a href="/" class="home-button">Home</a>
  <ul>
    <% tasks.sort((a, b) => a.name.localeCompare(b.name)).forEach(task => { %>
      <li>
        <a href="/admin/edit-task/<%= task.id %>"><%= task.name %></a> - <%= task.status %> - <%= task.class %>
      </li>
    <% }) %>
  </ul>
</body>
</html>

